<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/assets/favicon.ico" type="image/x-icon">
    <link href='{{ site.baseurl }}/feed.xml' rel='alternate' type='application/atom+xml'>
    <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://blog.juliana.dev">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/assets/images/keynote.jpeg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="blog.juliana.dev">
    <meta property="twitter:url" content="https://blog.juliana.dev">
    <meta name="twitter:image" content="/assets/images/keynote.jpeg">

</head>

<body>
